<ion-list color="dark">
    <ion-item-sliding *ngFor="let item of (deseosService.lista | filtro: terminado)">
        <ion-item detail color="dark" (click)="listaSeleccionada(item)">
            <ion-label>{{ item.titulo }}</ion-label>
            <ion-note>{{ item.items.length }}</ion-note>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="borrarLista(item)" color="danger">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
            <ion-item-option (click)="editarTitle(item)" color="primary">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>: