<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="tertiary"> </ion-back-button>
        </ion-buttons>
        <ion-title>{{ lista.titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo Item</ion-label>
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list color="dark">
        <ion-list-header color="dark" *ngIf="lista.items.length > 0">
            <ion-label>
                Tareas por hacer
            </ion-label>
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of lista.items; let i = index" class="animated fadeInDown">
            <ion-item color="dark">
                <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.completado" (ionChange)="cambioCheck(item)">
                </ion-checkbox>
                <ion-label>{{ item.desc }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="borrar(i)" color="danger">
                    <ion-icon name="close" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>